.filter {
  text-align: center;
}

.filter > li {
  display: inline-block;
  margin: 0 1.5rem 0 1.5rem;
  line-height: 30px;
}

.filter > li:hover {
  cursor: pointer;
}

.active {
  color: var(--sub-color);
  border-bottom: 1px solid var(--sub-color);
}

.active:hover {
  border-bottom: 1px solid var(--sub-color);;
}

.unactive:hover {
  color: var(--sub-color);
}
