.pdts {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fill, minmax(360px, auto));
  grid-gap: 2rem;
  justify-content: center;
  padding: 2rem 1rem 2rem 1rem;
}

.pdt {
  margin: 1rem 0 1rem 0;
}

.pic {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  margin-bottom: 1rem;
}

.pic .pHover {
  display: none;
  position: absolute;
  background: rgba(var(--text-rgb), 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pic:hover .pHover {
  display: block;
}

@media (hover: none) {
  .pic:hover .pHover {
    display: none;
  }
}

.hoverFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.hoverFlex .fa-stack:hover {
  cursor: pointer;
}

.search:hover .searchIcon {
  color: var(--sub-color);
}

.cartPlus:hover .cartIcon {
  color: var(--sub-color);
}

.desc {
  text-align: center;
}

.desc h2 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
