.wAlign {
    max-width: 75rem;
    width: 100%;
}

.mFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mainImg img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 720px) {
    .mainImg img {
        height: 300px;
    }

    .cartList {
        max-height: 270px;
    }

    .product {
        padding: 7rem 0 5rem 0;
    }
}