.ReactModal__Content {
  z-index: 2;
  background-color: var(--bg-color);
}

.imageBox {
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
}

.close:hover {
  cursor: pointer;
}

.modal-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal-flex > h2 {
  margin: 1rem 0 1.2rem 2rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.priceTag {
  margin: 1rem 2rem 1.2rem 0;
  font-weight: 500;
}
