.product {
    padding: 5rem 0 5rem 0;
}

.pFlex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    padding-top: 3rem;
}

.pHead {
    display: flex;
    justify-content: space-between;
    padding: 0 4rem 0 4rem;
}

.headline h1 {
    font-weight: 300;
}

.headline h1:hover {
    cursor: text;
}

.filter {
    text-align: center;
}

.filter > li {
    display: inline-block;
    margin: 0 0 0 3rem;
    line-height: 30px;
}

.filter > li:hover {
    cursor: pointer;
}

.active {
    color: #a99a7c;
    border-bottom: 1px solid #a99a7c;
}

.active:hover {
    color: #000;
    border-bottom: 1px solid #000;
}

.unactive:hover {
    color: #a99a7c;
}

.pdts {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fill, minmax(360px, auto));
    grid-gap: 2rem;
    justify-content: center;
    padding: 2rem 0 2rem 0;
}

.pic {
    position: relative;
    margin-bottom: 0.5rem;
}

.pic img {
    width: 360px;
}

.pic .pHover {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
}

.pic:hover .pHover {
    display: block;
}

.hoverFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.hoverFlex span:hover {
    cursor: pointer;
}

.hIcons {
    padding: 0.7rem;
    border: 5px solid #fff;
    border-radius: 50%;
}

.desc {
    text-align: center;
}

.desc h2 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.p1 {
    margin: 1rem;
}

.off {
    display: none;
}

.more {
    border: 1px solid #000;
    width: 80px;
}

.more:hover {
    cursor: pointer;
}

@media screen and (max-width: 770px) {
    .pdts {
        grid-template-columns: repeat(2, 50%);
    }

    .pic img {
        width: 50vw;
    }
}

@media screen and (max-width: 600px) {
    .filter > li {
        margin: 0 0 0 1.5rem;
    }

    .pHead {
        padding: 0 2rem 0 2rem;
    }
}